In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('Real estate.csv')
df

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [4]:
# Rename column labels
df.columns = df.columns.str.replace(' ', '_')
df

,No,X1_transaction_date,X2_house_age,X3_distance_to_the_nearest_MRT_station,X4_number_of_convenience_stores,X5_latitude,X6_longitude,Y_house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [5]:
df['X1_transaction_date']=pd.to_datetime(df['X1_transaction_date'])
df

,No,X1_transaction_date,X2_house_age,X3_distance_to_the_nearest_MRT_station,X4_number_of_convenience_stores,X5_latitude,X6_longitude,Y_house_price_of_unit_area
0,1,1970-01-01 00:00:00.000002012,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,1970-01-01 00:00:00.000002012,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,1970-01-01 00:00:00.000002013,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,1970-01-01 00:00:00.000002013,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,1970-01-01 00:00:00.000002012,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,1970-01-01 00:00:00.000002013,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,1970-01-01 00:00:00.000002012,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,1970-01-01 00:00:00.000002013,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,1970-01-01 00:00:00.000002013,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,1970-01-01 00:00:00.000002013,6.5,90.45606,9,24.97433,121.54310,63.9

In [6]:
X = df.drop(['No','X1_transaction_date','Y_house_price_of_unit_area','X5_latitude','X6_longitude'], axis=1)
X

,X2_house_age,X3_distance_to_the_nearest_MRT_station,X4_number_of_convenience_stores
0,32.0,84.87882,10
1,19.5,306.59470,9
2,13.3,561.98450,5
3,13.3,561.98450,5
4,5.0,390.56840,5
...,...,...,...
409,13.7,4082.01500,0
410,5.6,90.45606,9
411,18.8,390.96960,7
412,8.1,104.81010,5
413,6.5,90.45606,9

In [7]:
y = df['Y_house_price_of_unit_area']
y

0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: Y_house_price_of_unit_area, Length: 414, dtype: float64

In [8]:
model = LinearRegression()
X_train, X_test, Y_train, Y_test = train_test_split(X,y,train_size=0.8)

In [22]:
trained_model = model.fit(X_train.values, Y_train.values)

In [28]:
Score = trained_model.score(X_test.values, Y_test.values)
Score

0.5733222782441909

In [24]:
prediction = trained_model.predict([[19,300,8]])
print(prediction)

[46.95023092]

In [25]:
import pickle
filename = 'model.sav'
pickle.dump(trained_model,open(filename,'wb'))

In [26]:
model1 = pickle.load(open(filename,'rb'))
pre = model1.predict([[15,200,5]])
print(pre)

[44.49991296]

In [27]:
print(round(pre[0]))

44